.container{
    margin-top:100px;
}
.row-header{
margin-left: 50px;
margin-bottom:40px;
}

.intro{
margin-left: 1.10em;
font-family: "Arapey, serif";

}

.navbar-nav {
 display:flex;
 margin-left:800px;
 margin-top: -35px;
}

.navbar-brand {
font-family: 'Times New Roman', Times, serif;
}

.nav-link{
font-family:'Times New Roman', Times, serif;
}


p{
font-family: "Arapey, serif";
margin-bottom:1rem;

}

a{
font-family:"Playfair Display', serif";
font-size: 1.25rem;
text-decoration:none;
}

.email-link:hover {
    text-decoration: underline;
}

@media(max-width: 576px) {

    
    .header{
        display:flex;
        justify-content:center;
        margin-left:-1px;

    }
    
    h1 {
        font-size: 25px;
        line-height: 1.5;
    }

    h4 {
        font-size:20px;
        line-height:1;
    }

    p {
        text-align: center;
    }

    

    .row-nav{
        margin-bottom:-40px;
    }

    a{
       
        font-size:15px;
    }
}